body{
    background-color: black;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    color: black;
}
.top-right{
    height: 250px;
    width: 250px;
}
.one{
    display: flex;
}
.hello{
    width: 28%;
    padding-left: 2%;
    animation: light 1.5s ease-in-out infinite alternate 3.5s;
}
@keyframes light {
    from{
        color: #fff;
        text-shadow: 0 0 5px #e66d42, 0 0 10px #e66d42, 0 0 15px #e66d42 , 0 0 20px #e66d42,
        0 0 25px #e66d42, 0 0 30px #e66d42 , 0 0 35px #e66d42;
    }
    to{
        color: white;
        text-shadow: 0 0 5px #e66d42, 0 0 20px #e66d42 , 0 0 25px #e66d42 , 0 0 40px #e66d42, 0 0 50px #e66d42 , 0 0 60px #e66d42;
    }

}
.hello-text{
    font-size: 25em;
    font-family: Montserrat;
    animation: gayab 2s ease-in-out ;
    margin-top: 7%;
    letter-spacing: 20px;
}
@keyframes gayab {
    0% {
        color: black;
    }
    50%{
        color: white;

    }
    100%{
        color: black;
    }
}
.div-bulbula{
    display: flex;
    flex-direction: column;
    margin-left: 31%;
    margin-top: 5%;
}
.bulbula{
    width: 20%;
    float: right;
    padding-left: 30%;
    align-items: flex-start;
}
.im{
    color:#e66d42;
    letter-spacing: 8px;
    margin-bottom: -12px;
    font-size: 70px;
    animation: animation 3s 1;
}
@keyframes animation {
    0%{
        color: black;
    }
    50%{
        color: black;
    }
   100%{
       color: #e66d42;

   }
}
.name{
    color: white;
    animation: name 3s ease-in-out;
    font-family: Montserrat;
    font-size: 80px;
    margin-top: -15px ;
    letter-spacing: 8px;
}
@keyframes name {

    0%{
         color: black;
    }
    50%{
        color: black;
    }
    100%{
        color: white;
    }
}
header{
    position: fixed;
}
.div-text{
    text-align: center;
    font-family: Montserrat;
    margin-top: 15%;
    font-size: 35px;
}

nav{
    padding: 20px 2%  20px 2%;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    background-color: black;
}

nav>a{
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-weight: 900;
    letter-spacing: 2px;
    background-color: black;
    padding: 5px;
    transition: transform 400ms ease-in-out;
}
a:hover{
    text-shadow: 0 5px #e66d42;
}

header:hover{
    background: rgba(0,0,0,0.2);
}

.two{
    display: flex;
    flex-direction: column;
    /*background-color: #15616d;*/
    background-color: black;
    padding-top: 5%;
    padding-bottom:14%;
}
.About{
    display: flex;
}

.text-about{
    font-family: Montserrat;
    animation: about 15s ease-in-out infinite alternate;
    font-size: 9rem;
    padding-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: 700;
    height: 5%;
    /*color: #ff9f1c;*/
    color: #e66d42;
}
.about-img{
    width:40%;
    float: right;
    margin-top: -5%;
}

.text-me{
    color: #e66d42;
    font-family: Montserrat;
    font-size: 9rem;
    padding-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    animation: about 20s ease-in-out infinite alternate;
    height: 5%;
    font-weight: 700;
}
@keyframes about {
   0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
       color: #e66d42;
       text-shadow: none;
   }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: white;
        text-shadow: 0 0 10px #e66d42,
                0 0 20px #e66d42,
                0 0 40px #e66d42,
                0 0 80px #e66d42,
                0 0 160px #e66d42;
    }
}

.text-udit {
    color: white;
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 2rem;
    padding: 2%;
    line-height: 3rem;
    border-radius: 20px;
    margin: 0% 0 1% 3%;
    word-spacing: 0.2rem;
    width: 50vw;
}
.three{
    display: flex;
    flex-direction: column;
}
.skills-text {
    color: #e66d42;
    font-family: Montserrat;
    font-size: 9rem;
    padding-left: 1%;
    font-weight: 700;
    height: 5%;
    animation: skills 8s ease-in-out infinite 3s;
}
span:nth-child(1){
    animation-delay: 0.5s;
    padding-left: 3%;
}
span:nth-child(2){
    animation-delay: 1s;
}
span:nth-child(3){
    animation-delay: 1.5s;
    padding-left: 4%;
}
span:nth-child(4){
    animation-delay: 2s;
}
span:nth-child(5){
    animation-delay: 2.5s;
}
span:nth-child(6){
     animation-delay: 3s;

}
span:nth-child(7){
    animation-delay: 3.5s;
}
span:nth-child(8){
    animation-delay: 4s;
}


@keyframes skills {
    0%,10%,20%,30%,40%,50%,60%,70%{
        color: white;
        text-shadow: 1px 1px 20px #ffffff;
    }
    5%,15%,25%,35%,45%,55%,66%,75%,100%{
        color: #e66d42;
        text-shadow: 1px 1px 20px #e66d42;
    }
}
.skills-name{
    display: flex;
    padding-top: 5%;
    flex-direction: column;
}
.skill{
    color: #e66d42;
    font-size: 4rem;
    font-family: Montserrat;
    padding-left: 9%;
    display: flex;
}
#id{
    padding-left: 12%;
}
.skill-2{
    color: #e66d42;
    font-size: 4rem;
    font-family: Montserrat;
    padding-left: 5%;
}
.cpp{
        padding-left: 12%;
}
.skills-one,.skills-two{
    display: flex;
    flex-direction: row;
}
.lottie{
    width: 600px;
    height: 600px;
    margin-top: -33%;
    float: right;
    padding-left: 60%;
}
.four{
    display: flex;
    flex-direction: column;
}
.text-project{
    color: #e66d42;
    margin-top: 10%;
    font-size: 8.5rem;
    font-family: Montserrat;
    padding-left: 3%;
    letter-spacing: 1rem;
    animation: hawai 3s infinite ;
    margin-bottom: 0;
}
@keyframes hawai {
    0% {
        color: #e66d42;
    }


    50%{
        letter-spacing: 2rem;
        color: white;
        text-shadow: 0 0 10px #e66d42,
        0 0 20px #e66d42,
        0 0 40px #e66d42,
        0 0 80px #e66d42,
        0 0 160px #e66d42;
    }

    100%{
        color: #e66d42;
    }
}
.four{
    display: flex;
    flex-direction: column;
}
.project-1{
    display: flex;
    flex-direction: row;
}
.img-project-1{
    width:80%;
    margin:  -7% 0 5% 10%;
    border-radius: 40px;
    transition: border-radius 1s,box-shadow 2s;
    box-shadow: 0 0 20px white;
}
.img-project-2:hover{
    border-radius: 20px;
    box-shadow: 0 0 70px #e66d42;
}
.img-project-1:hover,.img-project-3:hover{
    border-radius: 20px;
    box-shadow: 0 0 70px white;
}

.text-project-1{
    color: white;
    font-size: 2rem;
    font-family: Montserrat;
    text-align: center;
    padding-right: 20%;
    margin-top: 15%;
}
.img-project-2{
    width: 60%;
    margin:  7% 0 5% 3%;
    border-radius: 40px;
    transition: border-radius 1s,box-shadow 2s;
    box-shadow: 0 0 20px #e66d42;
}
.text-project-2{
    color: white;
    font-size: 2rem;
    font-family: Montserrat;
    text-align: center;
    padding-left: 5%;
    padding-top: 52%;

}
.text-project-3{
    color: white;
    font-size: 2rem;
    font-family: Montserrat;
    text-align: center;
    padding-right: 20%;
}
.img-project-3{
    width: 80%;
    margin:  5% 0 5% 8%;
    border-radius: 40px;
    transition: border-radius 1s,box-shadow 2s;
    box-shadow: 0 0 20px white;
}
svg{
    height: 50vh;
    width: 50vw;
}
svg text{
    stroke:white;
    font-size: 245px;
    font-weight: 500;
    stroke-width: 5;
    transform: translate(40px,145px);
    font-family: Montserrat;
    animation: text 3s infinite;
}
@keyframes text{
    0%{
        stroke-dasharray: 0 50%;
    }

    50%{
        stroke-dasharray: 100% 0;
        text-shadow: 0 0 5px #e66d42, 0 0 15px #e66d42 , 0 0 25px #e66d42;
    }
    100%{
        stroke-dasharray: 0 50%;
    }
}
.pre-five{
    display: flex;
    flex-direction: column;
}
.five {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10vh;
}
#div-email,#div-github{
    padding: 0 2% 0 5%;
    transition: transform 1s;
}
#div-insta,#div-linkedin{
    padding: 0 2% 0 10%;
    transition: transform 1s;
}
#div-email:hover,#div-linkedin:hover,#div-github:hover,#div-insta:hover{
    transform: scale(1.2);
}
.contactme{
    flex: auto;
}
.text-contact{
    color: #e66d42;
    font-size: 10rem;
    font-family: Montserrat;
    font-weight: 700;
    padding-left: 5%;
}
.text-contact-me{
    color: white;
    font-size: 10rem;
    font-family: Montserrat;
    font-weight: 700;
    padding-left: 2%;
}





